<div id="htext" class="marquee" hidden>
  <p>中丝集团安全监管中心</p>
</div>

<div class="screen-container">
    <h1 id="nice" class="mt-6 text-center">中丝集团安全监管中心<span id="fullscreen"><i class="fas fa-play-circle pr-1"></i></span>
    </h1>
    <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%if @screen_1.nil?%>
            <%else%>
              <div class="screen-head">
              <%= link_to @screen_1.name , '', {'id'=>"screen_1",'data-device'=>@screen_1.device,'data-toggle'=>"modal",'data-target'=>"#modal_1"}%>
              </div>
            <%end%>
            <div class="screen-inner">
                    <%= link_to '监控1：请设置轮播通道', 'all_device?id=1', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
            
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%if @screen_2.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_2.name , '', {'id'=>"screen_2",'data-device'=>@screen_2.device,'data-toggle'=>"modal",'data-target'=>"#modal_2"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控2：请设置轮播通道', 'all_device?id=2', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
           <%if @screen_3.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_3.name , '', {'id'=>"screen_3",'data-device'=>@screen_3.device,'data-toggle'=>"modal",'data-target'=>"#modal_3"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控3：请设置轮播通道', 'all_device?id=3', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%if @screen_4.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_4.name , '', {'id'=>"screen_4",'data-device'=>@screen_4.device,'data-toggle'=>"modal",'data-target'=>"#modal_4"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控4：请设置轮播通道', 'all_device?id=4', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
           <%if @screen_5.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_5.name , '', {'id'=>"screen_5",'data-device'=>@screen_5.device,'data-toggle'=>"modal",'data-target'=>"#modal_5"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控5：请设置轮播通道', 'all_device?id=5', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
          
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
         <%if @screen_6.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_6.name , '', {'id'=>"screen_6",'data-device'=>@screen_6.device,'data-toggle'=>"modal",'data-target'=>"#modal_6"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控6：请设置轮播通道', 'all_device?id=6', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
            
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
        <%if @screen_7.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_7.name , '', {'id'=>"screen_7",'data-device'=>@screen_7.device,'data-toggle'=>"modal",'data-target'=>"#modal_7"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控7：请设置轮播通道', 'all_device?id=7', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
            
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
         <%if @screen_8.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_8.name , '', {'id'=>"screen_8",'data-device'=>@screen_8.device,'data-toggle'=>"modal",'data-target'=>"#modal_8"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控8：请设置轮播通道', 'all_device?id=8', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
            
        </div>

         <div class="screen m-1 flex-fill bg-dark text-white text-center">
          <%if @screen_9.nil?%>
            <%else%>
            <div class="screen-head">
            <%= link_to @screen_9.name , '', {'id'=>"screen_9",'data-device'=>@screen_9.device,'data-toggle'=>"modal",'data-target'=>"#modal_9"}%>
            </div><%end%>
            <div class="screen-inner">
                    <%= link_to '监控9：请设置轮播通道', 'all_device?id=9', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
           
        </div>
    </div>

      
</div>

<div class="modal hide" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<div class="modal" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="modal_1" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第1屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player"  data-screen="screen_1">
        <% @channel_1s.each do |channel_1|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_1.name%></p>
                <small class="channel_no"><%= channel_1.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="modal_2" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第2屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_2">
        <% @channel_2s.each do |channel_2|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_2.name%></p>
                <small class="channel_no"><%= channel_2.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_3" tabindex="-1" role="dialog" aria-labelledby="modal_3" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第3屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player"  data-screen="screen_3">
        <% @channel_3s.each do |channel_3|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_3.name%></p>
                <small class="channel_no"><%= channel_3.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_4" tabindex="-1" role="dialog" aria-labelledby="modal_4" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第4屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_4">
        <% @channel_4s.each do |channel_4|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_4.name%></p>
                <small class="channel_no"><%= channel_4.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_5" tabindex="-1" role="dialog" aria-labelledby="modal_5" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第5屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_5">
        <% @channel_5s.each do |channel_5|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_5.name%></p>
                <small class="channel_no"><%= channel_5.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_6" tabindex="-1" role="dialog" aria-labelledby="modal_6" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第6屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_6">
        <% @channel_6s.each do |channel_6|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_6.name%></p>
                <small class="channel_no"><%= channel_6.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_7" tabindex="-1" role="dialog" aria-labelledby="modal_7" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第7屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_7">
        <% @channel_7s.each do |channel_7|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_7.name%></p>
                <small class="channel_no"><%= channel_7.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_8" tabindex="-1" role="dialog" aria-labelledby="modal_8" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第8屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_8">
        <% @channel_8s.each do |channel_8|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_8.name%></p>
                <small class="channel_no"><%= channel_8.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal_9" tabindex="-1" role="dialog" aria-labelledby="modal_9" aria-hidden="true">
<!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">第9屏轮播通道列表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group player" data-screen="screen_9">
        <% @channel_9s.each do |channel_9|%>
           <li class="list-group-item">
                <p class="mb-1"> <%= channel_9.name%></p>
                <small class="channel_no"><%= channel_9.channel%></small>
            </li>
        <%end%></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script>

 $("#fullscreen").click(function name(params) {
  fullScreen();
 })
//全屏
function fullScreen() {
    var element = document.documentElement;
    if (element.requestFullscreen) {
        element.requestFullscreen();
    } else if (element.msRequestFullscreen) {
        element.msRequestFullscreen();
    } else if (element.mozRequestFullScreen) {
        element.mozRequestFullScreen();
    } else if (element.webkitRequestFullscreen) {
        element.webkitRequestFullscreen();
    }
}

//退出全屏 
function exitFullscreen() {
    if (document.exitFullscreen) {
        document.exitFullscreen();
    } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
    } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
    }
}

function stream(screen,serial,code) {
    $.ajax({
        type:"GET",
        url:"http://118.190.65.43:10000/api/v1/stream/start?serial="+serial + "&code=" + code +"&checkchannelstatus=true",
        datatype: "json",
              
        success:function(data){
          $(".screen-inner").hide();
          $("#" + screen).parent().before("<live-player video-url="+data["WS_FLV"]+" id='live_"+ screen + "' class='live_player' controls='false' autoplay='true' muted='true' live='true' aspect='16:9' stretch='true'></live-player>");
        },
        error:function(){
          $(".screen-inner").hide();
          $("#" + screen).parent().before("<live-player video-url='' id='live_"+ screen + "' class='live_player' controls='false' live='true' aspect='16:9' stretch='true'></live-player>");
        }        
      });
}

function new_release(device,code,current_code,screen){
    $.ajax({
      type:"GET",
      url:"http://118.190.65.43:10000/api/v1/stream/stop?serial="+device + "&code=" + code,
      datatype: "json",
            
      complete:function(){
      //进行video-url替换
        $.ajax({
          type:"GET",
          async:false,
          url:"http://118.190.65.43:10000/api/v1/stream/start?serial="+device + "&code=" + current_code +"&checkchannelstatus=true",
          datatype: "json",
          success:function(data){
            $('#live_'+ screen).attr("video-url",data["WS_FLV"]);
            console.log("=======================live_"+screen);
            console.log("======================="+data["WS_FLV"]);
          },
          error:function(){
            $('#live_'+ screen).attr("video-url","");
            console.log("==================failed=====");
          }        
        });
      }        
  });
}

function src_replace(){
    $(".play").each (function() {
      if ($(this).siblings().length > 0){
         //则寻找下一个
        if($(this).next().length > 0){
          current_player = $(this).next()
        }else{
          current_player = $(this).siblings(":first")
        }
        screen = $(this).parent().data("screen");
        $(this).removeClass("play");
        current_player.addClass("play");
        console.log("======================="+screen);
        device = $("#" + screen).data("device");
        code = $(this).children(".channel_no")[0].innerHTML
        current_code = current_player.children(".channel_no")[0].innerHTML
        //暂停流播放，并设置新的player类属性
        new_release(device,code,current_code,screen);
      }
    }); 
    iTime = setTimeout(src_replace, 60000);
}

//监听window是否全屏，并进行相应的操作,支持esc键退出
window.onresize = function() {
    var isFull=!!(document.webkitIsFullScreen || document.mozFullScreen || 
        document.msFullscreenElement || document.fullscreenElement
    );//!document.webkitIsFullScreen都为true。因此用!!
    if (isFull==false) {
        $(".header ").show();
        $(".footer").show();
        $(".live_player").remove();
        $(".screen-inner").show();
        $("#nice").show();
        $("#htext").prop("hidden",true);
        if(iTime !=""){
          clearTimeout(iTime);
        }
    }else{
        $(".header ").hide();
        $(".footer").hide();
        $("#nice").hide();
        $("#htext").removeAttr("hidden");
        $(".player").each (function() {
          if($(this).children().length > 0){
              //1.设置第一个子节点为player
              var player = $(this).children("li:first-child")
              player.addClass("play");
              channel = player.children(".channel_no")[0].innerHTML;
              screen = $(this).data("screen");
              device = $("#" + screen).data("device");
              //2. 请求开始播放接口，如果返回成功，则插入video标签
              stream(screen,device,channel);
          } 
        });
        //3. 设置timer,当前节点有多少个兄弟，如果大于1
        setTimeout(src_replace, 60000);         
    }
}
</script>