<div class="container">
    <h1 class="mt-4 text-center">中丝集团安全监管中心</h1>
    <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <div class="screen-inner">
                    <%= link_to '监控1：请设置轮播通道', '/all_device?id=1', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
            </div>
            <%if @screen_1.nil?%>
            <%else%>
            <div class="screen-head"><%= @screen_1.name %></div><%end%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控2：请设置轮播通道', '/all_device?id=2', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控3：请设置轮播通道', '/all_device?id=3', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
    </div>

     <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控4：请设置轮播通道', '/all_device?id=1', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控5：请设置轮播通道', '/all_device?id=2', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控6：请设置轮播通道', '/all_device?id=3', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
    </div>

      <div class="d-flex flex-row">
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控7：请设置轮播通道', '/all_device?id=1', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控8：请设置轮播通道', '/all_device?id=2', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
        <div class="screen m-1 flex-fill bg-dark text-white text-center">
            <%= link_to '监控9：请设置轮播通道', '/all_device?id=3', {:remote => true, 'data-toggle'=>"modal",'data-target'=>"#exampleModal"}%>
        </div>
    </div>
</div>

<div class="modal hide" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
